<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class='main-content'>
        {{>header}}

        <p>Use this site to get your weather</p>

        <form>
            <input type="search" placeholder="Enter your location">
            <button>Search</button>
        </form>

        <div class="weather-info">
            <p id="location"></p>
            <img id="weather-icon">
        </div>
            <p id="weather-description" style="display: block;"></p>


    </div>

    {{>footer}}
    <script src="/js/app.js " type="module"></script>
</body>

</html>