body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 50%;
    margin: 0 auto;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .main-content{
    flex-grow: 1;
} */

footer {
    color:#888888;
    border-top: 2px solid #eeeeee;
    /* margin-top: 10px; */
    margin-top:auto;
}

header{
    margin-bottom: 50px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

h1 {
    color: rgb(189, 99, 99);
    font-size: 60px;
    margin-bottom: 16px;
}

.portrait{
    border-radius: 10px;
    width: 150px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background-color: rgb(189, 99, 99);
    color: white;
    padding: 8px;
}

.weather-info {
    display: flex;
    align-items: center;
    margin: 16px auto;
}

.weather-info img {
    width: 35px;
}

.weather-info p {
    float: left;
    margin-right: 16px;
}
